/* ОбЩИЕ СТИЛИ */
:root{
    --primary: #ff3366;
    --secondary: #20c997;
    --bg: #1a1a2e;
    --glass: rgba(255, 255, 255, 0.05);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    overflow: hidden;
    user-select: none;
}
/* СТИЛИ ДЛЯ СМЕНЫ РЕЖИМА */
.container{
    background: var(--glass);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 51, 102, 0.2);
    text-align: center;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.1);
}
.presets{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.preset-btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 30px;
    background: rgb(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}
.preset-btn.active{
    background: var(--primary);
    box-shadow: 0 0 15px rgba(255, 51, 102, 0.3);
}
.preset-btn:hover{
    transform: scale(1.05);
    background: rgb(136, 27, 112);
}
/* СТИЛИ ДЛЯ ТАЙМЕРА И ЕГО ЭЛЕМЕНТОВ УПРАВЛЕНИЯ */
.timer{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    margin: 2rem 0;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    z-index: 100;
}
.controls{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
/* СТИЛИ ДЛЯ ВСЕХ КНОПОК */
.btn{
    padding: 1rem 2rem;
    border: none;
    background: linear-gradient(45deg, var(--primary), #ca3b3b);
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.3s;
}
.btn:hover{
    transform: scale(1.05);
    background: rgb(136, 27, 112);
}
/* СТИЛИ ДЛЯ КРУГА */
.progress-ring {
    transform: rotate(-90deg);
}
.progress-ring__circle {
    stroke: #ff7675; /* Белый цвет фона */
    stroke-width: 10;
    fill: transparent;
}
.progress-ring__circle.progress {
    stroke: #eee; /* Красный цвет прогресса */
}
/* СТИЛИ ДЛЯ МОДАЛЬНЫХ ОКОН */
.dialogModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#27274d;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    & h2{
        margin-bottom: 1rem;
    }
    & fieldset{
        padding: 1rem 3rem;
    }
    & label{
        margin-bottom: 1rem;
    }
}
/* СТИЛИ ДЛЯ АУДИО */
#audio{
    display: none;
}
#controlsVolume{
    & fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & input{
            margin-bottom: 1rem;
        }
    }
}
/* ОСТАЛЬНОЕ */
.status{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1.5rem;
}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Отправляем видео на задний план */
    object-fit: cover; /* Растягиваем на весь экран без искажений */
}