@import url("css/reset.css");
@import url("css/btn.css");
/* ОбЩИЕ СТИЛИ */
:root{
    --primary: #ff3366;
    --secondary: #20c997;
    --bg: #1a1a2e;
    --glass: rgba(255, 255, 255, 0.05);
}
*{
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    overflow: hidden;
    user-select: none;
    font-family: "Underdog", system-ui;
}
@font-face {
    font-family: "Underdog";
    src: url("source/fonts/Underdog-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* СТИЛИ ДЛЯ СМЕНЫ РЕЖИМА */
.container{
    background: var(--glass);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(255, 51, 102, 0.2);
    text-align: center;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.1);
}
.presets{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
/* СТИЛИ ДЛЯ ТАЙМЕРА И ЕГО ЭЛЕМЕНТОВ УПРАВЛЕНИЯ */
.timer{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    margin: 2rem 0;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    z-index: 100;
}
.controls{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    & .music-btn{
        border-radius: 999px;
        padding: 0;
    }
    & #iconsMusicBtn{
        border-radius: 999px;
    }
}
/* СТИЛИ ДЛЯ КРУГА */
.progress-ring {
    transform: rotate(-90deg);
}
.progress-ring__circle {
    stroke: #ff7675; /* Красный цвет прогресса */
    fill: transparent;
}
.progress-ring__circle.progress {
    stroke: #eee; /* Белый цвет фона */
    stroke-width: 10;
}
/* СТИЛИ ДЛЯ МОДАЛЬНЫХ ОКОН */
.dialogModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#27274d;
    border-radius: 10px;
   padding: 2rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    & h2{
        margin-bottom: 1rem;
    }
    & fieldset{
        padding: 1rem 3rem;
    }
    & label{
        margin-bottom: 1rem;
    }
    
}
/* СТИЛИ ДЛЯ АУДИО */
#audio{
    display: none;
}
#controlsVolume{
    & fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & input{
            margin-inline: 1rem;
        }
        & .inputs-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
    & .close-btn{
        position: absolute;
        top: 0.5rem;
        left: 88%;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        :hover{
            transform: scale(1.1);
        }
        svg {
            transition: transform 0.2s; 
            width: 40px; 
            height: auto;
        }

    }
    
}

/* ОСТАЛЬНОЕ */
.status{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1.5rem;
}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Отправляем видео на задний план */
    object-fit: cover; /* Растягиваем на весь экран без искажений */
}